* {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: thin;
  width: 100%;
  z-index: -2;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex.column {
  flex-direction: column;
}

/* map */

.main {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.bg {
  height: 100%;
  position: relative;
}
.bg::before {
  background: radial-gradient(
    hsl(190, 0%, 100%) 0%, 
    hsl(190, 0%, 100%) 10%, 
    hsl(195, 10%, 90%) 10%, 
    hsl(195, 10%, 90%) 20%, 
    hsl(200, 20%, 80%) 20%, 
    hsl(200, 20%, 80%) 30%, 
    hsl(205, 30%, 70%) 30%, 
    hsl(205, 30%, 70%) 40%, 
    hsl(210, 40%, 60%) 40%, 
    hsl(210, 40%, 60%) 50%, 
    hsl(215, 50%, 50%) 50%, 
    hsl(215, 50%, 50%) 60%, 
    hsl(220, 60%, 40%) 60%, 
    hsl(220, 60%, 40%) 70%, 
    hsl(225, 70%, 30%) 70%, 
    hsl(225, 70%, 30%) 80%, 
    hsl(230, 80%, 20%) 80%, 
    hsl(230, 80%, 20%) 90%, 
    hsl(235, 90%, 10%) 90%, 
    hsl(235, 90%, 10%) 100%, 
    hsl(240, 100%, 0%) 100%);
  aspect-ratio: 1;
  background-position: top;
  background-size: cover;
  content: '';
  filter: brightness(0.5) saturate(80%);
  left: 50%;
  position: fixed;
  top: 50%;
  translate: -50% -50%;
  width: max(100vw, 100vh);
  z-index: -1;
}

.title {
  font-size: 125%;
  margin-left: 10%;
  width: 50vw;
}

.map {
  object-fit: cover;
  height: 100vh;
}

.hide {
  visibility: hidden;
}

map > div {
  background-color: #99dd;
  border-radius: 1em;
  color: #fff;
  display: block;
  font-weight: bold;
  left: 30%;
  opacity: 0;
  padding: 0.5em 1em;
  top: 60%;
  transition: opacity 200ms;
  width: fit-content;
}

map > area#nueva-vizcaya:hover ~ div.nueva-vizcaya {
  opacity: 1;
}

map > area#quirino:hover ~ div.quirino {
  opacity: 1;
}

map > area#isabela:hover ~ div.isabela {
  opacity: 1;
}

map > area[id^="cagayan"]:hover ~ div.cagayan {
  opacity: 1;
}

map > area[id^="batanes"]:hover ~ div.batanes {
  opacity: 1;
}

map {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

map > div {
  position: absolute;
}

map > div.nueva-vizcaya {
  top: 90%;
  left: 45%;
}

map > div.quirino {
  top: 83%;
  left: 53%;
}

map > div.isabela {
  top: 65%;
  left: 43%;
}

map > div.cagayan {
  top: 35%;
  left: 38%;
}

map > div.batanes {
  top: 8%;
  left: 45%;
}

/* province pages */

.back {
  background-color: #fff5;
  color: #0af;
  display: inline-block;
  font-weight: bold;
  margin: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: background-color 200ms;
}

.back:hover,
.back:active {
  background-color: #fffa;
}

.round {
  border-radius: 1em;
}

.image {
  height: 40%;
  object-fit: cover;
  width: 100%;
}

.desc {
  margin: 100px 2em;
  text-align: justify;
  text-indent: 5em;
}

.tourist-spots {
  flex-direction: row;
  margin: 0 1em; 
}

.section-title,
.tourist-spots > div {
  background-color: #fff2;
  border-radius: 1em;
  border: 0.5em solid #55f3;
  margin: 1em;
  text-align: center;
}

.tourist-spots small {
  padding: 0 0.5em;
}

.image {
  width: 100%;
  aspect-ratio: 1;
}

.footer {
  height: 300px;
}

/*@media only screen and (max-width: 600px) {*/
@media only screen and (orientation: portrait) {
  .title {
    font-size: 90%;
    left: 0;
    position: absolute;
    top: 20%;
  }
  
  .title.hide {
    display: none;
  }

  .tourist-spots {
    flex-direction: column;
  }

  map > div {
    pointer-events: none;
    opacity: 1;
  }

  map > div.nueva-vizcaya {
    top: 90%;
    left: 45%;
  }

  map > div.quirino {
    top: 83%;
    left: 63%;
  }

  map > div.isabela {
    top: 68%;
    left: 30%;
  }

  map > div.cagayan {
    top: 40%;
    left: 43%;
  }

  map > div.batanes {
    top: 8%;
    left: 35%;
  }
}
